html{
  width: 100%;
  height: 100%;
}
body{
  background-image: url("../../public/img/fest2.png");
  background-repeat:no-repeat;
  background-size:cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
#container{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  width: 50%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.6);
}
#container img{
  width: 10vw;
  margin-bottom: 3vh;
}
#content-form{
  display: flex;
  flex-direction:column;
  justify-content:center;
  text-align: left;
  color: hsl(356, 99%, 75%);
  font-size: 18px;
  font-family: 'Staatliches';
}
input{
  width: 200px;
  height: 30px;
  border-radius: 50px;
  border: none;
  padding-left: 1vw;
  margin: 1vw 0;
}
input:focus {
  outline: none;
}
#signin-button{
  width: 150px;
  height: 35px;
  color: white;
  font-size: 24px;
  font-family: 'Staatliches';
  background-color: hsl(356, 99%, 35%);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  margin: 1vh auto;
}
#signin-button:hover{
  background-color: hsla(356, 99%, 45%);
}
a{
  color: #ffffff;
  font-family: 'Staatliches';
  text-decoration: none;
  font-size: 16px;
}
a:hover{
  color:#B1010E;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}